{% extends 'base.html.twig' %}

{% block title %}Edit Stream{% endblock %}

{% block body %}
    <h1>Edit Stream</h1>

    {{ include('stream/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stream_index') }}">back to list</a>

    {{ include('stream/_delete_form.html.twig') }}
{% endblock %}
